<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.crm.mall.mapper.CustCommMapper">

	<!-- Result Map 结果映射 查询时使用 -->
	<resultMap id="BaseResultMap" type="CustCommModel">
		<result column="id" property="id" />
		<result column="cust_code" property="custCode" />
		<result column="cust_name" property="custName" />
		<result column="user_code" property="userCode" />
		<result column="user_name" property="userName" />
		
		<result column="time" property="time" />
		<result column="type" property="type" />
		<result column="content" property="content" />
		
	</resultMap>

	<!-- 查询条件 -->
	<sql id="TiaoJian">
		where 1=1
		<if test="id !=null">
			and id=#{id}
		</if>
		<if test="custCode !=null and custCode !=''">
			and cust_code like #{custCode}
		</if>
	
		<if test="userCode !=null and userCode !=''">
			and user_code like #{userCode}
		</if>
		
		
		<if test="time !=null and time !=''">
			and time #{time}
		</if>
		<if test="type !=null and type !=''">
			and type like #{type}
		</if>
		<if test="content !=null and content !=''">
			and content like #{content}
		</if>
		

        
	</sql>


	<!-- table all fields sql片段 -->
	<sql id="Base_Column_List">
		id, cust_code, user_code,time,type,content
	</sql>
	<!-- table all fields sql片段 -->
	<sql id="custName">
		mis.customer_communication
	</sql>



	<insert id="insert" parameterType="Object">
		insert into
		<include refid="custName" />
		( cust_code, user_code,time,type,content)
		values(#{custCode},#{userCode},#{time}
		,#{type},#{content}
		 )
	</insert>

	<delete id="deleteModel" parameterType="Object">
		delete from
		<include refid="custName" />
		<include refid="TiaoJian"></include>

	</delete>
	<delete id="delete" parameterType="Object">
		delete from
		<include refid="custName" />
		where where id=#{id}

	</delete>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="update" parameterType="Object">
		update
		<include refid="custName" />
		set
		<trim suffixOverrides=",">
		    <if test="custCode != null and custCode != '' ">
			cust_code = #{custCode},
			</if>
			<if test="userCode != null and userCode != '' ">
			user_code = #{userCode},
			</if>
		    
			<if test="time != null and time != '' ">
			time = #{time},
			</if>
			<if test="type !=null and type !=''">
				type = #{type},
			</if>
				<if test="content != null and content != '' ">
			content = #{content},
			</if>
			
			
		</trim>
	
         where id=#{id}
</update>


	<!-- 根据id 查询系统用户 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="custName" />
		where id=#{id}
	</select>
	<!-- 根据code 查询系统用户 -->
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="custName" /> 
		where cust_code=#{custCode} and user_code=#{userCode}
	</select>
	<!-- 查询系统用户列表 -->
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1)
		from
		<include refid="custName" />
		<include refid="TiaoJian" />
	</select>


	<!-- 查询系统用户列表 -->
	<select id="selectModel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		,(SELECT mcin.cust_name FROM mis.customer_info as mcin where mcin.cust_code=mcc.cust_code) as cust_name
         ,(SELECT  us.user_name FROM mis.user as us where us.user_code=mcc.user_code) as user_name
 		from
		<include refid="custName" />  as mcc
		<include refid="TiaoJian" />	
		<if test="userName !=null and userName !=''">
			and user_code  in( select user_code FROM mis.user as us where us.user_name like #{userName})  
		</if>
			<if test="custName !=null and custName !=''">
			 and cust_code  in( select cust_code FROM mis.customer_info as us where us.cust_name like #{custName})  
		</if>
									
		limit ${rowStart},${pageLimit}
	</select>
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="custName" />
		<include refid="TiaoJian" />
	</select>



</mapper>   
